<% @page_title = 'Sections' %>

<%= link_to('Back to List', {action: 'index'}, class: 'back-link')%>

<div class="section new">
    <h1>Update New Section</h1>
    <%= form_for(:section, url: {action: 'update', id: @section.id}) do |f| %>
        
        <%= render(partial: 'section_form', locals: {f: f}) %>
        
        <br>

        <div class="form-btn">
        <%= f.submit('Update Section') %>
        </div>
    <% end %>
</div>