<% @page_title = 'Sections' %>

<%= link_to('Back to List', {action: 'index'}, class: 'back-link')%>

<div class="section new">
    <h1>Create New Section</h1>
    <%= form_for(:section, url: {action: 'create'}) do |f| %>
        
        <%= render(partial: 'section_form', locals: {f: f}) %>

        <br>

        <div class="form-btn">
        <%= f.submit('Create Section') %>
        </div>
    <% end %>
</div>