<% @page_title = 'Pages' %>

<%= link_to('Back to List', {action: 'index'}, class: 'back-link')%>

<div class="page new">
    <h1>Create New Page</h1>
    <%= form_for(:page, url: {action: 'create'}) do |f| %>
       
        <%= render(partial: 'page_form', locals: {f: f}) %>
       
        <br>

        <div class="form-btn">
        <%= f.submit('Create Page') %>
        </div>
    <% end %>
</div>