<% @page_title = 'Subjects' %>

<%= link_to('Back to List', {action: 'index'}, class: 'back-link')%>

<div class="subject edit">
    <h1>Update Subject</h1>
    <%= form_for(:subject, url: {action: 'update', id: @subject.id}) do |f| %>
        
        <%= render(partial: 'subject_form', locals: {f: f}) %>

        <br>

        <div class="form-btn">
        <%= f.submit('Update Subject') %>
        </div>
    <% end %>
</div>