<% @page_title = 'Subjects' %>

<%= link_to('Back to List', {action: 'index'}, class: 'back-link')%>

<div class="subject new">
    <h1>Create New Subject</h1>
    <%= form_for(:subject, url: {action: 'create'}) do |f| %>
        
        <%= render(partial: 'subject_form', locals: {f: f}) %>

        <br>

        <div class="form-btn">
        <%= f.submit('Create Subject') %>
        </div>
    <% end %>
</div>